{% extends 'vet/base.html' %}

{% block title %} Citas pendientes {% endblock %}

{% block css %}
<style>
    body{
        background: purple
    }
    #panelCitas{
        height: 100vh;
    }
    #panelCitas .row .col h5{
        color: White;
        font-family:'Courier New', Courier, monospace;

    }
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div id="panelCitas" class="container">
    <div class="row">
        <div class="col s12 center">
            <h5>
                (0) Citas programadas o pendientes.
            </h5>
        </div>
    </div>
</div>
{% endblock %}